# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
.venv*/
venv*/

# VS Code
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Test / coverage
.pytest_cache/
.tox/
.coverage
